@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap');

.form {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

.form * {
    box-sizing: border-box;
    line-height: 1.5;
}

.form__title {
    font-size: 2em;
    font-weight: 600;
}

.form__item {
    display: flex;
    flex-direction: column;
}

.form__item > * {
    align-self: flex-start;
}

.form__label {
    font-weight: 600;
    padding: 10px 0;
}

.form__input {
    -webkit-appearance: none;

    width: 100%;
    max-width: 425px;
    min-height: calc(0.9em + (0.08em * 2) + 0.6em);
    padding: 0.8em;
    font-size: 0.9em;
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #f9f9f9;
    transition: background 0.25s, border-color 0.25s, color 0.25s
}

.form__input:focus {
    background: #ffffff;
}

.form__input::placeholder {
    color: #bbbbbb;
}

.form__bttn {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    padding: 10px 16px;
    margin: 10px 0;
    color: #ffffff;
    background: #000000;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.form__bttn:active {
    background: #585757;
}